# Variables d'environnement (NE JAMAIS COMMITTER CE FICHIER)
.env

# Environnement virtuel Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.ruff_cache/

# Node / Next.js (frontend)
node_modules/
.next/
out/
*.tsbuildinfo

# Fichiers IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
